@import "./modules/var";
@import "./modules/darkmode";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html body {
	font-family: "Poppins", sans-serif;
	user-select: none;
	transition: 0.2s ease-in-out;
	background-image: linear-gradient(#ffffffd3, #ffffffd3), url(../../img/bg.png);
	background-position: center;
	background-size: cover;
}

.container {
	padding: 10px 150px;
}

body > header {
	background-color: $default-yellow-color;
	nav {
		text-align: center;
		display: flex;
		justify-content: space-between;
		align-items: center;
		h2 {
			font-size: 20px;
			color: $default-blue-color;
		}
		.set-theme {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			span:first-child {
				display: inline-block;
				width: 35px;
				height: 20px;
				border-radius: 999px;
				background-color: white;
			}
			span:nth-child(2) {
				position: absolute;
				display: inline-block;
				top: 0;
				left: 0;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background-color: $default-blue-color;
				transform: translateX(17px);
				cursor: pointer;
				transition: 0.2s ease;
			}
			span:nth-child(2).dark-mode-active {
				transform: translateX(32px);
			}
			p {
				font-weight: 500;
				font-size: 13px;
			}
		}
	}
}

main .container {
	display: grid;
	grid-template-columns: 30% auto 30%;
	grid-template-areas: "score-board game instructions";
	margin-top: 30px;
	min-height: 75vh;

	.game {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 20px;
		grid-area: game;

		h2 {
			width: 250px;
			font-size: 35px;
			text-align: center;
			color: $default-yellow-color;
			text-shadow: -3px 3px 2px $default-blue-color;
		}
		main {
			position: relative;
			width: 100%;
			margin: 50px 0 30px 0;
			padding-bottom: 70px;
			background-color: #f9f9f9;
			box-shadow: 3px 3px 10px #63636331;
			border-radius: 10px;
			transition: 0.2s ease-in-out;
			p {
				margin-top: 30px;
				padding: 10px 20px;
				font-size: 15px;
				color: #4e4e4e;
				transition: 0.2s ease-in-out;
				span {
					display: inline-block;
					padding: 3px;
					min-width: 15px;
					text-align: center;
					margin: 1px;
					border-radius: 5px;
				}
				span.word.active {
					background-color: #d3d3d34f;
				}
				span.correct {
					color: $easy-difficulty;
					background-color: lighten($color: $easy-difficulty, $amount: 30);
				}
				span.incorrect {
					color: $hard-difficulty;
					background-color: lighten($color: $hard-difficulty, $amount: 30);
				}
			}
			.input {
				position: absolute;
				bottom: 0;
				width: 100%;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
				overflow: hidden;
				input {
					padding: 13px 50px 13px 20px;
					width: 100%;
					outline: none;
					border: none;
					font-family: "Poppins", sans-serif;
					transition: 0.2s ease-in-out;
				}
				input::placeholder {
					color: $default-blue-color;
				}
				span {
					position: absolute;
					top: 50%;
					right: 20px;
					transform: translateY(-50%);
					display: inline-block;
					width: 13px;
					height: 13px;
					background-color: $hard-difficulty;
					box-shadow: 0 0 3px $hard-difficulty;
					border-radius: 50%;
				}
				span.correct {
					background-color: $easy-difficulty !important;
					box-shadow: 0 0 3px $easy-difficulty;
				}
			}
		}
		main::after {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -55%);
			width: 55px;
			height: 55px;
			background-color: $default-yellow-color;
			border-radius: 50%;
		}

		main::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: $default-blue-color;
			z-index: -1;
			border-radius: 10px;
			transform: translateY(-10px);
		}
		.difficulty-option {
			position: relative;
			width: 100px;
			border-radius: 10px;
			background-color: $default-blue-color;
			color: white;
			display: flex;
			flex-direction: column;
			overflow: hidden;
			transition: 0.2s ease;
			cursor: pointer;
			span {
				font-size: 14px;
				padding: 5px 10px;
				visibility: hidden;
				opacity: 0;
				&:hover {
					background-color: lighten($color: $default-blue-color, $amount: 3);
				}
			}
			span:first-child {
				visibility: visible !important;
				opacity: 1 !important;
			}
			span.visible {
				visibility: visible;
				opacity: 1;
			}
			span.arrow-icon {
				position: absolute;
				user-select: none;
				top: 3px;
				right: 0px;
				visibility: unset;
				opacity: unset;
				&:hover {
					background-color: unset;
				}
			}
		}
	}

	aside {
		display: flex;
		flex-direction: column;
		margin-top: 30px;

		&.score-board {
			justify-content: start;
			align-items: flex-start;
			main {
				display: flex;
				flex-direction: column;
				align-items: center;
				span#pin {
					display: inline-block;
					position: relative;
					width: 25px;
					height: 25px;
					background-color: $default-yellow-color;
					border-radius: 50%;
				}

				span#pin::before,
				span#pin::after {
					content: "";
					position: absolute;
					z-index: -1;
					display: inline-block;
					width: 35px;
					height: 2px;
					background-color: #222222;
					transition: 0.2s ease-in-out;
					transform: translate(7px, 23px) rotate(50deg);
				}
				span#pin::after {
					transform: translate(-15px, 23px) rotate(-50deg);
				}
				.board {
					width: 280px;
					margin-top: 10px;
					height: 180px;
					background-color: $default-blue-color;
					transform: rotate(2deg);
					border-radius: 8px;
					padding: 20px 25px;
					box-shadow: -3px 3px 0px 2px #2e546d;
					transition: 0.2s ease;
					font-family: "Ranga", cursive;

					&:hover {
						transform: rotate(0);
					}
					h3 {
						position: relative;
						font-size: 22px;
						color: white;
						margin-bottom: 15px;
						text-align: center;
					}
					h3::before {
						content: "";
						position: absolute;
						bottom: -5px;
						left: 50%;
						transform: translateX(-50%);
						width: 40%;
						height: 2px;
						background-color: $default-yellow-color;
					}
					p {
						font-weight: 500;
						font-size: 17px;
						margin: 5px 0;
						letter-spacing: 2px;
					}
					p:nth-child(2) {
						color: $easy-difficulty;
					}
					p:nth-child(3) {
						color: $medium-difficulty;
					}
					p:last-child {
						color: $hard-difficulty;
					}
				}
			}
			h1#score {
				margin-top: 50px;
				font-family: "Covered By Your Grace", cursive;
				color: $default-yellow-color;
				text-shadow: -3px 3px 2px $default-blue-color;
			}
		}
		&.instructions {
			align-items: flex-end;
			grid-area: instructions;
			main {
				position: relative;
				background-color: #f9f9f9;
				border: 1px solid #e7e7e7;
				width: 280px;
				padding: 20px 0;
				transition: 0.2s ease-in-out;
				hr {
					margin-bottom: 25px;
					border-color: #07679f48;
				}
				h3 {
					position: relative;
					font-weight: 600;
					color: $default-blue-color;
					margin-bottom: 40px;
					text-align: center;
					transition: 0.2s ease-in-out;
				}
				h3::before {
					content: "";
					position: absolute;
					bottom: -5px;
					left: 50%;
					transform: translateX(-50%);
					width: 40%;
					height: 2px;
					background-color: $default-yellow-color;
				}
				.text {
					position: absolute;
					top: 18%;
					margin-left: 40px;

					p {
						font-size: 14px;
						width: 90%;
						line-height: 27px;
						color: #585858;
						transition: 0.2s ease-in-out;
					}
					p:nth-child(2) {
						margin-top: 25px;
						color: $hard-difficulty;
						font-weight: 600;
						font-size: 15px;
					}
					P:nth-child(3) {
						margin-top: 4px;
					}
				}
				span#line {
					position: absolute;
					top: 5px;
					left: 20px;
					height: 370px;
					width: 2px;
					background-color: $default-blue-color;
				}
				p span:first-child {
					color: $easy-difficulty;
					font-weight: 600;
				}
				p span:nth-child(2) {
					color: $medium-difficulty;
					font-weight: 600;
				}
				p span:last-child {
					color: $hard-difficulty;
					font-weight: 600;
				}
			}
		}
	}
}

footer {
	background-color: #1d4468;
	text-align: center;
	color: white;
	font-size: 13px;
	padding: 8px 0;
	margin-top: 50px;
}

.statistic.show {
	content-visibility: auto;
	opacity: 1;
	z-index: 999;
}

.statistic {
	z-index: -1;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	background-color: white;
	filter: drop-shadow(0 20px 30px #0000003f);
	padding: 30px 50px;
	border-radius: 10px;
	transition: transform 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
	header {
		display: grid;
		place-content: center;
		h2 {
			font-size: 20px;
			display: inline-block;
			position: relative;
			color: $default-blue-color;
			z-index: 1;
		}
		h2::before {
			content: "";
			position: absolute;
			top: 2px;
			right: -7px;
			width: 90%;
			height: 80%;
			background-color: $default-yellow-color;
			z-index: -1;
		}
	}
	h3 {
		color: $default-blue-color;
		transform: translateY(20px);
	}
	main {
		margin: 15px 0;
		p {
			font-weight: 500;
		}
		section:first-child {
			display: flex;
			justify-content: space-between;
			line-height: 36px;
			.left {
				width: 110px;
				display: flex;
				justify-content: space-between;
			}
			.right {
				margin-left: 25px;
			}
		}
		display: flex;
		align-items: center;
		justify-content: space-between;
		img {
			width: 180px;
			height: auto;
		}
	}
	footer {
		margin: 20px 0 0 0;
		padding: 0;
		background-color: unset;
		img {
			width: 30px;
			height: auto;
			cursor: pointer;
		}
	}
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: 0.3s ease-in-out;
	user-select: none;
	z-index: -1;
}
.overlay.active {
	z-index: unset;
	background-color: #020304d5;
}

@media screen and(max-width: 1300px) {
	.container {
		padding: 10px 70px;
	}
}

@media screen and(max-width: 1150px) {
	.container {
		padding: 10px 120px;
	}
	main .container {
		grid-template-columns: 40% auto;
		grid-template-areas:
			"game game"
			"score-board instructions";
		.game {
			margin-bottom: 40px;
		}
		aside {
			&.instructions {
				align-items: unset;
				main {
					width: 100% !important;
					min-height: 260px;
					max-height: 340px;
					overflow: hidden;
					.text {
						top: 95px !important;
					}
				}
			}
		}
	}
}

@media screen and(max-width: 992px) {
	.container {
		padding: 10px 60px;
	}
}

@media screen and(max-width: 880px) {
	.container {
		padding: 10px 80px;
	}
	main .container {
		grid-template-columns: 100%;
		grid-template-areas:
			"game"
			"instructions"
			"score-board";
		.game {
			margin: 0;
		}
		aside {
			&.score-board {
				align-items: center !important;
				margin: 0;
			}
			&.instructions {
				margin: 60px 0;
				main {
					.text {
						P:nth-child(3) {
							margin-top: 3px;
						}
					}
				}
			}
		}
	}
}

@media screen and(max-width: 576px) {
	.statistic {
		width: 400px;
		padding: 20px 30px;
		h3 {
			transform: translateY(13px);
		}
		main {
			p {
				font-size: 14px;
			}
			section:first-child {
				line-height: 30px;
				.left {
					width: 90px;
				}
				.right {
					margin-left: 20px;
				}
			}
			img {
				width: 150px;
			}
		}
	}
	.container {
		padding: 10px 20px;
	}
}

@media screen and (max-width: 450px) {
	.statistic {
		width: 350px;
		padding: 15px 25px;
		header {
			h2 {
				font-size: 18px;
			}
		}
		h3 {
			font-size: 17px;
		}
		main {
			margin: 13px 0;

			section:first-child {
				line-height: 28px;
				.left {
					width: 110px;
				}
			}
			img {
				width: 100px;
			}
		}
		footer {
			img {
				width: 25px;
			}
		}
	}
}
