body.darkmode {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#162e41f1), to(#162e41f1)), url(../../img/bg.webp) !important;
  background-image: linear-gradient(#162e41f1, #162e41f1), url(../../img/bg.webp) !important;
}

body.darkmode .game main {
  background-color: #212d39 !important;
}

body.darkmode .game main p {
  color: white !important;
}

body.darkmode .game main span.correct {
  color: #2aeb62;
  background-color: #63ff2617 !important;
}

body.darkmode .game main span.incorrect {
  color: #fd4848;
  background-color: #ff262611 !important;
}

body.darkmode .game main .input input {
  background-color: #1b222a !important;
  color: white !important;
}

body.darkmode aside.score-board main span#pin::before,
body.darkmode aside.score-board main span#pin::after {
  background-color: white !important;
}

body.darkmode aside.instructions main {
  background-color: #1e3349 !important;
}

body.darkmode aside.instructions main h3 {
  color: #ffc93c !important;
}

body.darkmode aside.instructions main p {
  color: white !important;
}

body.darkmode aside.instructions main p:nth-child(2) {
  color: #fd4848 !important;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html body {
  font-family: "Poppins", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffffd3), to(#ffffffd3)), url(../../img/bg.webp);
  background-image: linear-gradient(#ffffffd3, #ffffffd3), url(../../img/bg.webp);
  background-position: center;
  background-size: cover;
}

.container {
  padding: 10px 150px;
}

body > header {
  background-color: #ffc93c;
}

body > header nav {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body > header nav img {
  height: 23px;
}

@media screen and (max-width: 576px) {
  body > header nav img {
    height: 20px;
  }
}

body > header nav .set-theme {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body > header nav .set-theme span:first-child {
  display: inline-block;
  width: 35px;
  height: 20px;
  border-radius: 999px;
  background-color: white;
}

body > header nav .set-theme span:nth-child(2) {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #07689f;
  -webkit-transform: translateX(17px);
          transform: translateX(17px);
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

body > header nav .set-theme span:nth-child(2).dark-mode-active {
  -webkit-transform: translateX(32px);
          transform: translateX(32px);
}

body > header nav .set-theme p {
  font-weight: 500;
  font-size: 13px;
}

@media screen and (max-width: 280px) {
  body > header nav .set-theme p {
    font-size: 12px;
  }
}

main .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% auto 30%;
      grid-template-columns: 30% auto 30%;
      grid-template-areas: "score-board game instructions";
  margin-top: 30px;
  min-height: 75vh;
}

main .container .game {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: game;
}

main .container .game h2 {
  width: 250px;
  font-size: 35px;
  text-align: center;
  color: #ffc93c;
  text-shadow: -3px 3px 2px #07689f;
}

main .container .game main {
  position: relative;
  width: 100%;
  margin: 50px 0 30px 0;
  padding-bottom: 70px;
  background-color: #f9f9f9;
  -webkit-box-shadow: 3px 3px 10px #63636331;
          box-shadow: 3px 3px 10px #63636331;
  border-radius: 10px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

main .container .game main span.timer-icon {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -30px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #ffc93c;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main .container .game main span.timer-icon img {
  width: 35px;
  height: auto;
}

main .container .game main p {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 15px;
  color: #4e4e4e;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

main .container .game main p span {
  display: inline-block;
  padding: 3px;
  min-width: 15px;
  text-align: center;
  margin: 1px;
  border-radius: 5px;
}

main .container .game main p span.word.active {
  background-color: #d3d3d34f;
}

main .container .game main p span.correct {
  color: #2aeb62;
  background-color: #b6f8c9;
}

main .container .game main p span.incorrect {
  color: #fd4848;
  background-color: #ffdfdf;
}

@media screen and (max-width: 360px) {
  main .container .game main p {
    font-size: 14px;
  }
}

main .container .game main .input {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

main .container .game main .input input {
  padding: 13px 50px 13px 20px;
  width: 100%;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

main .container .game main .input input::-webkit-input-placeholder {
  color: #07689f;
}

main .container .game main .input input:-ms-input-placeholder {
  color: #07689f;
}

main .container .game main .input input::-ms-input-placeholder {
  color: #07689f;
}

main .container .game main .input input::placeholder {
  color: #07689f;
}

main .container .game main .input span {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #fd4848;
  -webkit-box-shadow: 0 0 3px #fd4848;
          box-shadow: 0 0 3px #fd4848;
  border-radius: 50%;
}

main .container .game main .input span.correct {
  background-color: #2aeb62 !important;
  -webkit-box-shadow: 0 0 3px #2aeb62;
          box-shadow: 0 0 3px #2aeb62;
}

main .container .game main::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #07689f;
  z-index: -1;
  border-radius: 10px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

main .container .game .difficulty-option {
  position: relative;
  width: 100px;
  border-radius: 10px;
  background-color: #07689f;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
}

main .container .game .difficulty-option span {
  font-size: 14px;
  padding: 5px 10px;
  visibility: hidden;
  opacity: 0;
}

main .container .game .difficulty-option span:hover {
  background-color: #0872ae;
}

main .container .game .difficulty-option span:first-child {
  visibility: visible !important;
  opacity: 1 !important;
}

main .container .game .difficulty-option span.visible {
  visibility: visible;
  opacity: 1;
}

main .container .game .difficulty-option span.arrow-icon {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  top: 3px;
  right: 0px;
  visibility: unset;
  opacity: unset;
}

main .container .game .difficulty-option span.arrow-icon:hover {
  background-color: unset;
}

main .container aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

main .container aside.score-board {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .container aside.score-board main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container aside.score-board main span#pin {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  background-color: #ffc93c;
  border-radius: 50%;
}

main .container aside.score-board main span#pin::before,
main .container aside.score-board main span#pin::after {
  content: "";
  position: absolute;
  z-index: -1;
  display: inline-block;
  width: 35px;
  height: 2px;
  background-color: #222222;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translate(7px, 23px) rotate(50deg);
          transform: translate(7px, 23px) rotate(50deg);
}

main .container aside.score-board main span#pin::after {
  -webkit-transform: translate(-15px, 23px) rotate(-50deg);
          transform: translate(-15px, 23px) rotate(-50deg);
}

main .container aside.score-board main .board {
  width: 280px;
  margin-top: 10px;
  height: 180px;
  background-color: #07689f;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  border-radius: 8px;
  padding: 20px 25px;
  -webkit-box-shadow: -3px 3px 0px 2px #2e546d;
          box-shadow: -3px 3px 0px 2px #2e546d;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  font-family: "Ranga", cursive;
}

main .container aside.score-board main .board:hover {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

main .container aside.score-board main .board h3 {
  position: relative;
  font-size: 22px;
  color: white;
  margin-bottom: 15px;
  text-align: center;
}

@media screen and (max-width: 280px) {
  main .container aside.score-board main .board h3 {
    font-size: 19px;
  }
}

main .container aside.score-board main .board h3::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40%;
  height: 2px;
  background-color: #ffc93c;
}

main .container aside.score-board main .board p {
  font-weight: 500;
  font-size: 17px;
  margin: 5px 0;
  letter-spacing: 2px;
}

@media screen and (max-width: 360px) {
  main .container aside.score-board main .board p {
    font-size: 15px;
  }
}

main .container aside.score-board main .board p:nth-child(2) {
  color: #2aeb62;
}

main .container aside.score-board main .board p:nth-child(3) {
  color: #ddcc36;
}

main .container aside.score-board main .board p:last-child {
  color: #fd4848;
}

@media screen and (max-width: 280px) {
  main .container aside.score-board main .board {
    width: 240px;
  }
}

main .container aside.score-board h1#score {
  margin-top: 50px;
  font-family: "Covered By Your Grace", cursive;
  color: #ffc93c;
  font-size: 30px;
  text-shadow: -3px 3px 2px #07689f;
}

main .container aside.instructions {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: instructions;
}

main .container aside.instructions main {
  position: relative;
  background-color: #f9f9f9;
  border: 1px solid #e7e7e7;
  width: 280px;
  padding: 20px 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

main .container aside.instructions main hr {
  margin-bottom: 25px;
  border-color: #07679f48;
}

main .container aside.instructions main h3 {
  position: relative;
  font-weight: 600;
  color: #07689f;
  margin-bottom: 40px;
  text-align: center;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

main .container aside.instructions main h3::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40%;
  height: 2px;
  background-color: #ffc93c;
}

main .container aside.instructions main .text {
  position: absolute;
  top: 18%;
  margin-left: 40px;
}

main .container aside.instructions main .text p {
  font-size: 14px;
  width: 90%;
  line-height: 27px;
  color: #585858;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

main .container aside.instructions main .text p:nth-child(2) {
  margin-top: 25px;
  color: #fd4848;
  font-weight: 600;
  font-size: 15px;
}

main .container aside.instructions main .text P:nth-child(3) {
  margin-top: 4px;
}

main .container aside.instructions main span#line {
  position: absolute;
  top: 5px;
  left: 20px;
  height: 370px;
  width: 2px;
  background-color: #07689f;
}

main .container aside.instructions main p span:first-child {
  color: #2aeb62;
  font-weight: 600;
}

main .container aside.instructions main p span:nth-child(2) {
  color: #ddcc36;
  font-weight: 600;
}

main .container aside.instructions main p span:last-child {
  color: #fd4848;
  font-weight: 600;
}

footer {
  background-color: #1d4468;
  text-align: center;
  color: white;
  font-size: 13px;
  padding: 8px 0;
  margin-top: 50px;
}

.statistic {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 510px;
  background-color: white;
  -webkit-filter: drop-shadow(0 20px 30px #0000003f);
          filter: drop-shadow(0 20px 30px #0000003f);
  border-radius: 10px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  content-visibility: hidden;
}

.statistic header {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.statistic header h2 {
  font-size: 20px;
  display: inline-block;
  position: relative;
  color: #07689f;
  z-index: 1;
}

.statistic header h2::before {
  content: "";
  position: absolute;
  top: 2px;
  right: -7px;
  width: 90%;
  height: 80%;
  background-color: #ffc93c;
  z-index: -1;
}

.statistic h3 {
  color: #07689f;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.statistic main {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.statistic main p {
  font-weight: 500;
}

.statistic main section:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 36px;
  margin-right: 10px;
}

.statistic main section:first-child .left {
  width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.statistic main section:first-child .right {
  margin-left: 25px;
}

.statistic main section:last-child {
  margin-left: 10px;
}

.statistic main img {
  width: 180px;
  height: auto;
}

.statistic footer {
  margin: 20px 0 0 0;
  padding: 0;
  background-color: unset;
}

.statistic footer img {
  width: 30px;
  height: auto;
  cursor: pointer;
}

@media screen and (max-width: 360px) {
  .statistic {
    -webkit-transform: translate(-50%, -50%) scale(0.9);
            transform: translate(-50%, -50%) scale(0.9);
  }
}

@media screen and (max-width: 320px) {
  .statistic {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }
}

@media screen and (max-width: 280px) {
  .statistic {
    -webkit-transform: translate(-50%, -50%) scale(0.7);
            transform: translate(-50%, -50%) scale(0.7);
  }
}

.statistic.show {
  padding: 30px 40px;
  content-visibility: auto;
  opacity: 1;
  z-index: 99;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: -1;
}

.overlay.active {
  z-index: unset;
  background-color: #020304d5;
}

@media screen and (max-width: 1300px) {
  .container {
    padding: 10px 70px;
  }
}

@media screen and (max-width: 1150px) {
  .container {
    padding: 10px 120px;
  }
  main .container {
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
        grid-template-areas: "game game" "score-board instructions";
  }
  main .container .game {
    margin-bottom: 40px;
  }
  main .container aside.instructions {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  main .container aside.instructions main {
    width: 100% !important;
    min-height: 260px;
    max-height: 340px;
    overflow: hidden;
  }
  main .container aside.instructions main .text {
    top: 95px !important;
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding: 10px 60px;
  }
}

@media screen and (max-width: 880px) {
  .container {
    padding: 10px 80px;
  }
  main .container {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        grid-template-areas: "game" "instructions" "score-board";
  }
  main .container .game {
    margin: 0;
  }
  main .container aside.score-board {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    margin: 0;
  }
  main .container aside.instructions {
    margin: 60px 0;
  }
  main .container aside.instructions main .text P:nth-child(3) {
    margin-top: 3px;
  }
}

@media screen and (max-width: 576px) {
  .statistic {
    width: 450px;
    padding: 20px 30px;
  }
  .statistic h3 {
    -webkit-transform: translateY(13px);
            transform: translateY(13px);
  }
  .statistic main p {
    font-size: 14px;
  }
  .statistic main section:first-child {
    line-height: 30px;
  }
  .statistic main section:first-child .left {
    width: 90px;
  }
  .statistic main section:first-child .right {
    margin-left: 20px;
  }
  .statistic main img {
    width: 150px;
  }
  .container {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 470px) {
  .statistic {
    -webkit-transform: scale(0.8) translate(-62.5%, -50%);
            transform: scale(0.8) translate(-62.5%, -50%);
  }
}
/*# sourceMappingURL=style.css.map */